
.circleDetail {
	display: none;
}

h1,h2,h3,h4,li {
	font-family: "Century gothic";
  color: #8B0000
} 

h5 {
  font-family: "Century gothic";
  text-align: center;
}

.side-nav a {
    color: rgba(0,0,0,0.87);
    display: block;
    font-size: 1rem;
    font-weight: 500;
    height: 64px;
    line-height: 48px;
    padding: 0 16px;
    margin-left: 14px
}

.side-nav li>a>i.material-icons {
    float: left;
    line-height: 48px;
    margin: 0px 18px 0 0;
    width: 24px;
    color: rgba(0,0,0,0.8);
}

.Menu {
  background-color: #8B0000
}

.moveCnv, .getVariations {
  background-color: #8B0000
}

.moveCnv:hover, .getVariations:hover {
  background-color: #2F4F4F
}

.getVariations {
  margin-top: 22px
}

svg {
  background-color: white
}

p {
  font-family: "Century gothic";
}

.bold {
  font-weight: bold;
}

.mS{
  font-size: 18px !important
}

.upLink, .anLink, .visLink {
  cursor: pointer;
}

.myCardFile {
  margin-top: 20px
}

.myCardFile .card-content {
    margin-top: 17px;
    padding: 14px;
}

.CNV {
  background-color: whitesmoke
}

.FASTQ {
  background-color: whitesmoke
}

.FASTA {
  background-color: whitesmoke
}

.SNP {
  background-color: whitesmoke
}

.GFF {
  background-color: whitesmoke
}

.INDEL {
  background-color: whitesmoke
}

.details {
  background-color: #2f4f4f;
}
.btn:hover {
  background-color: #8B0000
}

.myCard {
  background-color: #2F4F4F !important;
}

.myCard2 {
  background-color: #2F4F4F !important;
}

.white-text {
  font-size: 20px;
}
.svgg {
	overflow: auto;
	height: 500px;
  background-color: #f8f3ed !important;
}

.svggSnp, .svggIndel {
	overflow:auto;
	height: 500px;
  background-color: #f8f3ed !important;
}

.addFileBtn {
	margin-left: 7px;
	
}

.selectChr ul {
	width: 211px !important;
}

.dropdown-content li>span {
	font-size: 13px;
	color: #1976d2
}

[type="checkbox"]:checked+label:before {
	border-right: 2px solid #FF7F50;
    border-bottom: 2px solid #FF7F50;
}
.tabs .tab a {
	color: #1976d2
}

.tabs .tab a:hover {
	color: #d81b60;
}

.tabs .indicator {
	background-color: #2F4F4F !important
}

.addFileBtn i {
	background-color: #2F4F4F !important;
}

.checkBoxCnv {
	text-align: center;
}

.checkBoxSnp{
  text-align: center;
}

.checkBoxIndel{
  text-align: center;
}

.uploader {

}

.echelle {
  display: none;
  position: relative;
  margin-top: 42px;
}

.echelleSNP {
  display: none;
  position: relative;
  margin-top: 42px;
}

#svg-pan-zoom-controls {
  position: relative;
  margin-top: 42px;
}

.echelleINDEL {
  display: none;
  position: relative;
  margin-top: 42px;
}

.BlanchedAlmond {
  background-color: #FFEBCD !important;
  color: #FFEBCD !important;
}


.DarkSlateGrey {
  background-color: #2F4F4F !important; 
}

.DarkCyan {
  background-color: #008B8B !important;
  color: #008B8B !important;
}

.Coral {
  background-color: #FF7F50 !important;
}

.DarkSalmon {
  background-color: #E9967A !important;
}

.GoldenRod {
  background-color: #DAA520 !important;
  color: #DAA520 !important
}

.Brown {
  background-color: #A52A2A !important;
  color: #A52A2A !important
}

.Red {
  background-color: red !important
}

span.wh {
  color: white !important
}

.bl {
  color: black !important;
  font-size:12px !important;
}

.bl2 {
  color: black !important;
  font-size:15px !important;
}

.smallButton {
  width: 25px !important;
  height: 25px !important;
  line-height: 9px !important;
  background-color: #2F4F4F !important
}

.smallButton i {
  line-height: 25px !important;
  font-size: 1.2rem !important;
}

.cnvZoomButtons, .snpZoomButtons, .indelZoomButtons {
  margin-left: 33.3333333% !important
}

.btn1 {
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 3rem;
  line-height: 26px;
  outline: 0;
  padding: 0 1rem;
  background-color: #8B0000;
  text-transform: uppercase;
  border-radius: 5px;
  margin-left: 5px;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
}

.btn2 {
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 2rem;
  font-size: 12px;
  margin-right: 6px;
  line-height: 21px;
  outline: 0;
  padding: 0 1rem;
  background-color: #2F4F4F !important;
  text-transform: uppercase;
  border-radius: 5px;
  margin-left: 5px;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
}

.myModal {
  width: 80%;
  max-height: 70%
}

.btn2:hover {
  cursor: pointer;
  background-color: #8B0000
}

.btn1:hover {
	cursor: pointer;
	background-color: #607D8B
}

.errorMsgEmail {
  font-size: 14px;
  color: red
}
#cont{
	margin: 0;
}

a {
  color:#8B0000;
}
a#starta {
  color: white
}
.navv {
  background-color: #8B0000 !important
}
.start {
  background-color: #8B0000
}

.delFileBtn {
	background-color: #2F4F4F;
  margin-left: 10px;
}

.checkBox {
	margin-top: 10px;
}

[type="checkbox"]+label {
    position: relative;
    padding-left: 25px;
	margin-right: 25px;
}

#svgGff {
  overflow: auto;
}

.height {
  height: 100%
}

@media only screen and (min-width: 992px) {
  .brand-logo {
    margin-left: 50px
  }

}

.myCol {
  background-color: #f1e7da !important
}

.myCol2{
  background-color: whitesmoke !important
}

.myTable {
  background-color: whitesmoke;
}

a.brand-logo {
  font-family: "Century gothic"
}

@media (min-width:992px) {
    .echelle {
        width:250px;
    }
    .echelleSNP {
        width:250px;
    }
    .echelleINDEL {
       width:250px;
    }
}

@media (max-width:992px) {
    .echelle.pinned, .echelle.pin-bottom {
        position:static !important;
        /*top: auto !important;*/
    }
    .echelleSNP.pinned, .echelleSNP.pin-bottom {
        position:static !important;
        /*top: auto !important;*/
    }
    .echelleINDEL.pinned, .echelleINDEL.pin-bottom {
        position:static !important;
        /*top: auto !important;*/
    }
}

.textCHR {
  font-family: "Century gothic";
  border-radius: 16px;
  background-color: #e4e4e4;
  font-weight: 500;
  height: 32px;
  color: :rgba(0,0,0,0.6);
  padding: 0 12px
}

.tipsy { font-size: 10px; position: absolute; padding: 5px; z-index: 100000; }
  .tipsy-inner { background-color: #000; color: #FFF; max-width: 300px; padding: 5px 8px 4px 8px; text-align: center; }

  /* Rounded corners */
  .tipsy-inner { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
  
  /* Uncomment for shadow */
  /*.tipsy-inner { box-shadow: 0 0 5px #000000; -webkit-box-shadow: 0 0 5px #000000; -moz-box-shadow: 0 0 5px #000000; }*/
  
  .tipsy-arrow { position: absolute; width: 0; height: 0; line-height: 0; border: 5px dashed #000; }
  
  /* Rules to colour arrows */
  .tipsy-arrow-n { border-bottom-color: #000; }
  .tipsy-arrow-s { border-top-color: #000; }
  .tipsy-arrow-e { border-left-color: #000; }
  .tipsy-arrow-w { border-right-color: #000; }
  
	.tipsy-n .tipsy-arrow { top: 0px; left: 50%; margin-left: -5px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }
    .tipsy-nw .tipsy-arrow { top: 0; left: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent;}
    .tipsy-ne .tipsy-arrow { top: 0; right: 10px; border-bottom-style: solid; border-top: none;  border-left-color: transparent; border-right-color: transparent;}
  .tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
    .tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
    .tipsy-se .tipsy-arrow { bottom: 0; right: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
  .tipsy-e .tipsy-arrow { right: 0; top: 50%; margin-top: -5px; border-left-style: solid; border-right: none; border-top-color: transparent; border-bottom-color: transparent; }
  .tipsy-w .tipsy-arrow { left: 0; top: 50%; margin-top: -5px; border-right-style: solid; border-left: none; border-top-color: transparent; border-bottom-color: transparent; }


  /***************************************************************************************************/

  #tf-home{
  background: url(../font/image1.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #cfcfcf;
}

.iAcceuil1 , .iAcceuil2, .iAcceuil3 {
  opacity: 0;
}
.welcome {
  text-align: center !important;
  color: #ffffff !important;
  font-weight: 300 !important;
  margin: 0 0 40px !important;
}

.color {
    color: #FF7F50 !important;

}

.color1 {
  background-color: #FF7F50 !important; 
  color: #FF7F50 !important;

}
.color2 {
  background-color: #5F9EA0; 
  color: #5F9EA0
}

.valid {
  border-bottom: 1px solid #FF7F50 !important;
  box-shadow: 0 1px 0 0 #FF7F50 !important;
}

#tf-home .overlay{
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.73) 17%, rgba(0,0,0,0.66) 35%, rgba(0,0,0,0.55) 62%, rgba(0,0,0,0.4) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.8)), color-stop(17%,rgba(0,0,0,0.73)), color-stop(35%,rgba(0,0,0,0.66)), color-stop(62%,rgba(0,0,0,0.55)), color-stop(100%,rgba(0,0,0,0.4))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#66000000',GradientType=0 ); /* IE6-9 */
  height: 750px;
  background-attachment: fixed;
}
#tf-home p.lead{
  color: #e3e3e3;
  text-align: center !important;
  font-size: 20px;
}

.myContainer {
  width: 87% !important;
  padding-bottom:15px !important;
}

.myDivider {
  height: 4px;
  overflow: hidden;
  width: 60px !important;
  background-color: #8B0000;
}
 
footer {
  opacity: 0.9
} 
.cnt {
  margin-top: -21px
}

.pageLinks {
  margin-left:15%;
}

.pageLinks li {
  display: inline;
  cursor: pointer;
  padding: 20px;
  color: white
}

.pageLinks li {
  color: white
}

.pageLinks li i {
  margin-right: 10px
}

.myDivider2 {
  height:2px; 
  background-color: #8b0000;  
  margin-bottom: 10px
}

 #info {
  padding: 80px 0;
}

.myP {
  font-size: 18px;
  line-height: 0.1em;
}

.rules a {
  line-height: 30px;
    padding: 0 0px;
    color: #5a5a5a;
}

.rules a i {
  float: left;
    line-height: 48px;
    margin: -8px 12px -10px 0;
    width: 24px;
    color: #5a5a5a;
}

strong {
  font-weight: bold;
}

.content{
  position: relative;
  padding: 20% 0 0;
}

.upLoad {
  background: url(../font/upLoad.gif) ;
  /*background-size: cover;*/
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
 
}

.analyze{
  background: url(../font/analyze.gif) ;
  /*background-size: cover;*/
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;

}

.visualyze {
  background: url(../font/visualyze3.gif) ;
  /*background-size: cover;*/
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}