
.circleDetail {
	display: none;
}

h1,h2,h3,h4,p,li {
	font-family: "Century gothic";
  color: #8B0000
} 

.svgg {
	overflow: auto;
	height: 1000px;
}

.svggSnp {
	overflow:auto;
	height: 1000px;
}

.addFileBtn {
	margin-left: 7px;
	
}

.selectChr ul {
	width: 211px !important;
}

.dropdown-content li>span {
	font-size: 13px;
	color: #1976d2
}

[type="checkbox"]:checked+label:before {
	border-right: 2px solid #d81b60;
    border-bottom: 2px solid #d81b60;
}
.tabs .tab a {
	color: #1976d2
}

.tabs .tab a:hover {
	color: #d81b60;
}

.tabs .indicator {
	background-color: #d81b60
}

.addFileBtn i {
	background-color: #d81b60;
}

.checkBoxCnv {
	text-align: center;
}

.checkBoxSnp{
  text-align: center;
}

.checkBoxIndel{
  text-align: center;
}

.btn1 {
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 3rem;
  line-height: 26px;
  outline: 0;
  padding: 0 1rem;
  background-color: #1976d2;
  text-transform: uppercase;
  border-radius: 5px;
  margin-left: 5px;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
}

.btn1:hover {
	cursor: pointer;
	background-color: #607D8B
}

.errorMsgEmail {
  font-size: 14px;
  color: red
}
#cont{
	margin: 0;
}

a {
  color:#8B0000;
}
a#starta {
  color: white
}
.navv {
  background-color: #8B0000
}
.start {
  background-color: #8B0000
}

.delFileBtn {
	background-color: #d81b60
}

.checkBox {
	margin-top: 10px;
}

[type="checkbox"]+label {
    position: relative;
    padding-left: 25px;
	margin-right: 25px;
}

#svgGff {
  overflow: auto;
}

.tipsy { font-size: 10px; position: absolute; padding: 5px; z-index: 100000; }
  .tipsy-inner { background-color: #000; color: #FFF; max-width: 300px; padding: 5px 8px 4px 8px; text-align: center; }

  /* Rounded corners */
  .tipsy-inner { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
  
  /* Uncomment for shadow */
  /*.tipsy-inner { box-shadow: 0 0 5px #000000; -webkit-box-shadow: 0 0 5px #000000; -moz-box-shadow: 0 0 5px #000000; }*/
  
  .tipsy-arrow { position: absolute; width: 0; height: 0; line-height: 0; border: 5px dashed #000; }
  
  /* Rules to colour arrows */
  .tipsy-arrow-n { border-bottom-color: #000; }
  .tipsy-arrow-s { border-top-color: #000; }
  .tipsy-arrow-e { border-left-color: #000; }
  .tipsy-arrow-w { border-right-color: #000; }
  
	.tipsy-n .tipsy-arrow { top: 0px; left: 50%; margin-left: -5px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }
    .tipsy-nw .tipsy-arrow { top: 0; left: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent;}
    .tipsy-ne .tipsy-arrow { top: 0; right: 10px; border-bottom-style: solid; border-top: none;  border-left-color: transparent; border-right-color: transparent;}
  .tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
    .tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
    .tipsy-se .tipsy-arrow { bottom: 0; right: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
  .tipsy-e .tipsy-arrow { right: 0; top: 50%; margin-top: -5px; border-left-style: solid; border-right: none; border-top-color: transparent; border-bottom-color: transparent; }
  .tipsy-w .tipsy-arrow { left: 0; top: 50%; margin-top: -5px; border-right-style: solid; border-left: none; border-top-color: transparent; border-bottom-color: transparent; }